<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="Kaike de Santana">
	
	<!-- Bootstrap CSS -->
	<link rel='stylesheet' type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />

	<title>Criar Jogador</title>
</head>
<body>
	<div th:replace="fragmento/header :: cabecalho"></div>


	<div class="container mt-5">
		<!--Nome Jogador-->
		<form method="post" action="/jogador/criar" th:object="${criarJog}" autocomplete="off">
		<div class="row">
		<div class="col-md-6 form-group offset-md-3">
			<label>Nome:</label>
			<input class="form-control" placeholder="Ex: Cristiano Ronaldo" th:field="*{nome}">
		</div>
		</div>
		
		<!-- Nivel ->
		<form method="post" action="/criar" th:object="${criarJog}" autocomplete="off">
		<div class="row">
		<div class="col-md-6 form-group offset-md-3">
			<label for="customRange3" class="form-label">Nivel do Jogador:</label>
			<input type="range" class="form-range" id="rangeInput" name="rangeInput" min="0" max="5" step="0.5" value="0"
      			 oninput="amount.value=rangeInput.value">       			
      		<output id="amount" name="amount" for="rangeInput">0</output>
		</div>
		</div> -->
      	
      	
      	<!-- isGoleiro -->	
		<div class="row">
		<div class="col-md-6 form-group offset-md-3 mt-3">
			<div class="form-check form-switch">
  			<input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" th:field="*{goleiro}">
  			<label class="form-check-label" for="flexSwitchCheckDefault">É goleiro?</label>
			</div>
		</div>
		</div>
		
		
		<div class="row">
		<div class="col-md-6 form-group offset-md-5 mt-3">
			<button type="submit" class="btn btn-success">SALVAR</button>			<a class="btn btn-outline-danger">VOLTAR</a>
		</div>
		</div>
		</form>
		
		
	</div>
	




<!--Scripts-->
<script src='/webjars/bootstrap/5.0.0/js/bootstrap.min.js'></script>
</body>
</html>